<%= simple_form_for(@production_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3>Pedido/Lote: <%= @production_item.order.id %></h3>
    <%= f.input :order_id, :as => :hidden %>
    <%= f.association :production_status, :include_blank => false %>

    <% @production_item.product_order_outs.each do |po| %>
      <%= f.fields_for :product_order_outs, po do |product_form| %>
        <p class="product_order_outs_attributes">
          <%= product_form.number_field :quantity %>
          <%= product_form.number_field :product_id %>
          <%= link_to_function "remove", "remove_fields(this)" %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
