<%= simple_form_for(@production_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3>Pedido/Lote: <%= @production_item.order.id %></h3>
    <%= f.input :order_id, :as => :hidden %>
    <%= f.association :production_status, :include_blank => false %>

    <% @production_item.order.product_orders.each do |po| %>
      <p><%= po.product.name %> Quantidade: <%= po.quantity %></p>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
