<%= simple_form_for(@production_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3>Pedido/Lote: <%= @production_item.order.id %></h3>
    <%= f.input :order_id, :as => :hidden %>
    <%= f.association :production_status, :include_blank => false %>

    <h3>Produtos</h3>
    <% @production_item.product_order_outs.each do |po| %>
      <%= f.fields_for :product_order_outs, po do |product_form| %>
        <div class="product_order_outs_attributes">
          <b>Produto: </b>
          <%= po.product.name %>
          <%= product_form.hidden_field :product_id %>          
          <b>Quantidade: </b>
          <%= product_form.hidden_field :quantity %>
          <%= po.quantity %>
          <%= link_to_function "remove", "remove_fields(this)", :class => "btn btn-danger btn-small" %>
          
          
          <% po.product.verify_feedstock.each do |s| %>    
            <div class="product_order_outs_attributes alert alert-error"> <%= s %></div>
          <% end %>
          

        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
