<%= form_tag production_items_path, :class => "form-search", :method => :get do %>
  <legend>Visualizar: </legend>
  <%= select_tag "production_status_id",  options_for_select(ProductionStatus.all.collect{ |u| [u.name, u.id]}, :selected => params[:production_status_id]), :class => "input-medium search-query" %>
  <%= submit_tag "Filtrar", :class => "btn btn-primary" %>
<% end %>
<table class="table table-striped table-hover">
  <tr>
    <th>Status</th>
    <th>Pedido</th>
    <th>Lote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @production_items.each do |production_item| %>
  <tr>
    <td><%= production_item.production_status.name unless production_item.production_status.nil %></td>
    <td><%= production_item.order.id unless production_item.order.nil %></td>
    <td><%= production_item.id %></td>
    <td><%= link_to 'Abrir', production_item %></td>
    <td><%= link_to 'Deletar', production_item, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>