<h1>Listing production_items</h1>

<table>
  <tr>
    <th>Production status</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @production_items.each do |production_item| %>
  <tr>
    <td><%= production_item.production_status %></td>
    <td><%= production_item.order %></td>
    <td><%= link_to 'Show', production_item %></td>
    <td><%= link_to 'Edit', edit_production_item_path(production_item) %></td>
    <td><%= link_to 'Destroy', production_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Production item', new_production_item_path %>
