<%= render "information" %>
<legend><strong>Item em produção:</strong> Resumo</legend>
<p>
  <b>Status:</b>
  <%= @production_item.production_status.name %>
</p>

<p>
  <b>Pedido:</b>
  <%= @production_item.order.id %>
</p>

<p>
  <b>Lote:</b>
  <%= @production_item.id %>
</p>

<%= render "index" %>

<%= render "index_production_history" %>


<% if @production_item.production_status.name != "Estoque" %>
  <legend>Ações</legend>
  <%= simple_form_for(@production_item) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <h3>Pedido: <%= @production_item.order.id %></h3>
      <%= f.input :order_id, :as => :hidden %>
      <%= f.association :production_status, :include_blank => false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, data: { confirm: 'Atualizar Lote?' }, :class => "btn btn-primary" %>
    </div>
  <% end %>
<% end %>


<%= form_tag production_items_path, :method => :get do %>
  <%= hidden_field_tag "production_status_id", @production_item.production_status_id %> 
  <%= submit_tag "Voltar", :class => "btn btn-small" %>
<% end %>

