<div id="modal_update_stock" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Aviso</h3>
  </div>
  <div class="modal-body">
    <p id="message"></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>

<table class="table table-striped table-hover">
  <tr>
    <th>Pedido</th>
    <th>Produto</th>
    <th>Quantidade do Pedido</th>
    <th>Quantidade usada do estoque</th>
    <th>Quantidade enviada a produção</th>
    <th>Ação</th>
    <th></th>
  </tr>

  <% product_orders.each do |product_order| %>
    <tr>
      <td><%= product_order.order.id %></td>
      <td><%= product_order.product.name %></td>
      <td><%= product_order.quantity + product_order.quantity_stock %></td>
      <td><%= product_order.quantity_stock %></td>
      <td><%= product_order.quantity_production %></td>
      <td>
        <button type="button" class="btn btn-small btn-primary" data-toggle="modal" data-target="#product_order_<%= product_order.id %>">Usar estoque</button>
        <%= render "product_orders/modal", :product_order => product_order %>
      </td>
      <td><%= link_to 'Apagar', product_order, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>