<table>
  <tr>
    <th>Order</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Ação</th>
    <th></th>
  </tr>

  <% product_orders.each do |product_order| %>
    <tr>
      <td><%= product_order.order.id %></td>
      <td><%= product_order.product.name %></td>
      <td><%= product_order.quantity %></td>
      <% if  product_order.product_order_out != nil %>
        <td>Faltando: <%= product_order.product_order_out.quantity %> </td>
        <td><%= link_to 'Enviar produção estoque', product_stocks_remove_from_stock_path(product_order), remote: true %> </td>
      <% else %>
        <td>Ok</td>
        <td><%= link_to 'Usar do estoque', product_stocks_remove_from_stock_path(product_order.product_id), remote: true %> </td>
      <% end %>
      <td><%= link_to 'Destroy', product_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>