<div id="modal_update_stock" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Aviso</h3>
  </div>
  <div class="modal-body">
    <p id="message"></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>

<table>
  <tr>
    <th>Order</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Ação</th>
    <th></th>
  </tr>

  <% product_orders.each do |product_order| %>
    <tr>
      <td><%= product_order.order.id %></td>
      <td><%= product_order.product.name %></td>
      <td><%= product_order.quantity %></td>

      <% if product_order.status == 'estoque'%>
        <td>
          <p class="success">Utilizado estoque</p>
        </td>

        <td></td>
      <% elsif product_order.products_missing == 0 %>
        <td>
          <p class="success <%= product_order.id %>">Faltando: <%= product_order.products_missing %> </p>
          <% if product_order.status == 'producao'%>
            <p class="success <%= product_order.id %>">Já enviado produção</p>    
          <% end %>
        </td>
        <td><%= link_to 'Usar estoque', product_stocks_remove_from_stock_path(product_order), id: product_order.id, class: "btn btn-small" %> 
         </td>
       <% elsif product_order.status == 'producao'%>
        <td><p class="warm">Enviado Produção</p></td>
        <td><%= link_to "Ver andamento", "#", class: "btn btn-small" %></td>
      <% else %>
        <td><p class="warm <%= product_order.id %>">Faltando: <%= product_order.products_missing %> </p></td>
        <td></td>
      <% end %>
      <td><%= link_to 'Destroy', product_order, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
    </tr>
  <% end %>
</table>