<%= simple_form_for(@filial_stock) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :filial, :include_blank => false %>
    <%= f.association :product, :include_blank => false, label_method: :name, class: "input-xlarge" %>
    <%= f.input :quantity %>
    <%= hidden_field_tag "[filial_stock][action_type]", "add" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
