<p id="notice"><%= notice %></p>

<p>
  <b>Filial:</b>
  <%= @filial_stock.filial.name %>
</p>

<p>
  <b>Produto:</b>
  <%= @filial_stock.product.name %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @filial_stock.quantity %>
</p>


<%= link_to 'Editar', edit_filial_stock_path(@filial_stock) %> |
<%= link_to 'Voltar', filial_stocks_path %>
