<h1>Listing feedstocks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Unity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedstocks.each do |feedstock| %>
  <tr>
    <td><%= feedstock.name %></td>
    <td><%= feedstock.unity %></td>
    <td><%= link_to 'Show', feedstock %></td>
    <td><%= link_to 'Edit', edit_feedstock_path(feedstock) %></td>
    <td><%= link_to 'Destroy', feedstock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feedstock', new_feedstock_path %>
