<h1>Materias-primas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Unidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedstocks.each do |feedstock| %>
  <tr>
    <td><%= feedstock.name %></td>
    <td><%= feedstock.unity %></td>
    <td><%= link_to 'Ver', feedstock %></td>
    <td><%= link_to 'Editar', edit_feedstock_path(feedstock) %></td>
    <td><%= link_to 'Remover', feedstock, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar nova matéria prima', new_feedstock_path, :class => "link"  %>
