<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @feedstock.name %>
</p>

<p>
  <b>Unidade de Medida:</b>
  <%= @feedstock.unity %>
</p>


<%= link_to 'Editar', edit_feedstock_path(@feedstock), class: "link" %> |
<%= link_to 'Voltar', feedstocks_path, class: "link" %>
 