<h1>Listing customer_prices</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Product</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer_prices.each do |customer_price| %>
  <tr>
    <td><%= customer_price.customer %></td>
    <td><%= customer_price.product %></td>
    <td><%= customer_price.price %></td>
    <td><%= link_to 'Show', customer_price %></td>
    <td><%= link_to 'Edit', edit_customer_price_path(customer_price) %></td>
    <td><%= link_to 'Destroy', customer_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer price', new_customer_price_path %>
