
<% #if can? :manage, User %>
<% if true %>
  
  <%= form_for(@user) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :login %><br />
      <%= f.text_field :login %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
  
    <div class="field">
      <%= f.label :rg %><br />
      <%= f.text_field :rg %>
    </div>
    <div class="field">
      <%= f.label :cpf %><br />
      <%= f.text_field :cpf %>
    </div>
    <div class="field">
      <%= f.label :dateofbirth %><br />
      <%= f.date_select :dateofbirth %>
    </div>
    <div class="field">
      <%= f.label :sex %><br />
      <%= f.select :sex, ["Masculino", "Feminino"]%>
    </div>
    <div class="field">
      <%= f.label :hide_date %><br />
      <%= f.date_select :hide_date %>
    </div>

    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state %><br />
      <%= f.select :state, ["AC","AL","AM","BA","CE","DF","ES","GO","MA","MG","MS","MT","PA","PE","PI","PR","RJ","RN","RO","RR","RS","SC","SE","SP","TO"] %>
    </div>
    <div class="field">
      <%= f.label :cep %><br />
      <%= f.text_field :cep %>
    </div>
    <div class="field">
      <%= f.label :phone1 %><br />
      <%= f.text_field :phone1 %>
    </div>
    <div class="field">
      <%= f.label :phone2 %><br />
      <%= f.text_field :phone2 %>
    </div>
    <div class="field">
      <%= f.label :cel_number %><br />
      <%= f.text_field :cel_number %>
    </div>
    <div class="field">
      <%= f.label :wage %><br />
      <%= f.text_field :wage %>
    </div>
    
    <% for function in Function.all %>
      <div>
        <%= check_box_tag "user[function_ids][]", function.id, @user.functions.include?(function) %>
        <%=h function.name %>
      </div>
    <% end %>
    <%= hidden_field_tag "user[function_ids][]", "" %>

    <div class="field">
      <%= f.label :observations %><br />
      <%= f.text_area :observations %>
    </div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>

<% elsif %>

  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert alert-error">&times;</button>
    <strong>Atenção!</strong> Não autorizado, peça a um adminstrador do sistema para realizar o cadastro
  </div>
    
<% end %>
