<legend>Funcionários</legend>

<table class="table table-striped table-hover">
  <tr>
    <th>Nome</th>
    <th>Login</th>
    <th>RG</th>
    <th>CPF</th>
    <th>Data de Nascimento</th>
    <th>Sexo</th>
    <th>Data de Contratação</th>
    <th>Data de Demissão</th>
    <th>Endereço</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>CEP</th>
    <th>Telefone 1</th>
    <th>Telefone 2</th>
    <th>Celular</th>
    <th>Email</th>
    <th>Observações</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.login %></td>
    <td><%= user.rg %></td>
    <td><%= user.cpf %></td>
    <td><%= user.dateofbirth %></td>
    <td><%= user.sex %></td>
    <td><%= user.hide_date %></td>
    <td><%= user.fire_date %></td>
    <td><%= user.address %></td>
    <td><%= user.city %></td>
    <td><%= user.state %></td>
    <td><%= user.cep %></td>
    <td><%= user.phone1 %></td>
    <td><%= user.phone2 %></td>
    <td><%= user.cel_number %></td>
    <td><%= user.email %></td>
    <td><%= user.observations %></td>
    <td><%= link_to 'Ver', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar Funcionário', new_user_path, class: "link" %>
