<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Rg:</b>
  <%= @user.rg %>
</p>

<p>
  <b>Cpf:</b>
  <%= @user.cpf %>
</p>

<p>
  <b>Dateofbirth:</b>
  <%= @user.dateofbirth %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Hide date:</b>
  <%= @user.hide_date %>
</p>

<p>
  <b>Fire date:</b>
  <%= @user.fire_date %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Cep:</b>
  <%= @user.cep %>
</p>

<p>
  <b>Phone1:</b>
  <%= @user.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @user.phone2 %>
</p>

<p>
  <b>Cel number:</b>
  <%= @user.cel_number %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Wage:</b>
  <%= @user.wage %>
</p>

<p>
  <b>Observations:</b>
  <%= @user.observations %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
