<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @user.name %>
</p>

<p>
  <b>RG:</b>
  <%= @user.rg %>
</p>

<p>
  <b>CPF:</b>
  <%= @user.cpf %>
</p>

<p>
  <b>Data de Nascimento:</b>
  <%= @user.dateofbirth %>
</p>

<p>
  <b>Sexo:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Data de Contratação:</b>
  <%= @user.hide_date %>
</p>

<p>
  <b>Data de Demissão:</b>
  <%= @user.fire_date %>
</p>

<p>
  <b>Endereço:</b>
  <%= @user.address %>
</p>

<p>
  <b>Cidade:</b>
  <%= @user.city %>
</p>

<p>
  <b>Estado:</b>
  <%= @user.state %>
</p>

<p>
  <b>Cep:</b>
  <%= @user.cep %>
</p>

<p>
  <b>Telefone:</b>
  <%= @user.phone1 %>
</p>

<p>
  <b>Telefone 2:</b>
  <%= @user.phone2 %>
</p>

<p>
  <b>Celular:</b>
  <%= @user.cel_number %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Salário:</b>
  <%= @user.wage %>
</p>

<p>
  <b>Observações:</b>
  <%= @user.observations %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Todos Os Funcionários', users_path %>
