<%= simple_form_for(@feedstock_stock) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :feedstock, :include_blank => false %>
    <%= f.input :quantity %>
    <%= hidden_field_tag "[feedstock_stock][action_type]", "add" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
