<p id="notice"><%= notice %></p>

<p>
  <b>Matéria prima:</b>
  <%= @feedstock_stock.feedstock.name %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @feedstock_stock.quantity %>
</p>


<%= link_to 'Editar', edit_feedstock_stock_path(@feedstock_stock) %> |
<%= link_to 'Todos os itens do estoque', feedstock_stocks_path %>
