<%= simple_form_for(@feedstock_by_product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><b>Produto: </b>
      <%= @feedstock_by_product.product.name %> 
    </p>
    <%= f.input :product, :as => :hidden %>
    <%= f.association :feedstock,  as: :check_boxes%>

    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>