<%= simple_form_for(@feedstock_by_product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p><b>Produto: </b>
      <%= @feedstock_by_product.product.name %> 
    </p>
    <p><b>Matéria Prima: </b>
      <%= @feedstock_by_product.feedstock.name %> 
    </p>
    <%= f.input :product_id, :as => :hidden %>
    <%= f.input :feedstock_id,  :as => :hidden %>

    <%= f.number_field :quantity, :step => 0.1 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>