<h3>Matéria prima de: <%= @feedstock_by_product.product.name %></h3>

<%= form_tag '/products/' + @feedstock_by_product.product_id.to_s + '/feedstock_by_products', :method => :post do %>
  <%= hidden_field_tag 'product_id',  @feedstock_by_product.product_id %>
  <% @feedstocks.each do |f|%>
    <div class="row-fluid">
      <div class="span2">
        <%= label_tag "feedstock_id_#{f.id}", f.name, :class => "feedstock_by_product" %>
      </div>
      <div class="span1">
        <%= check_box_tag 'feedstock[][feedstock_id]', f.id, false,:id => "feedstock_id_#{f.id}" %>
      </div>
      <div class="span9">
        <%= number_field_tag 'feedstock[][quantity]', nil, min: 0, :class => "input-small" %> 
        <%= f.unity %>
      </div>
    </div>
  <% end %>

  <%= submit_tag "Salvar", :class => "btn btn-primary" %>
<% end %>

<%= link_to 'Back', product_feedstock_by_products_path %>
