<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @customer_stock.customer.name %>
</p>

<p>
  <b>Produto:</b>
  <%= @customer_stock.product.name %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @customer_stock.quantity %>
</p>


<%= link_to 'Editar', edit_customer_stock_path(@customer_stock), class: "link" %> |
<%= link_to 'Estoque', customer_stocks_path, class: "link" %>
