<h1>Adicionar Pedidos</h1>

<%= form_tag "orders/new", :class => "form-search", :method => :get do %>
    <legend>Procure o cliente pelo nome</legend>
    <%= autocomplete_field_tag 'customer', '', autocomplete_customer_name_customers_path, :update_elements => {:id => '#customer_id' }, :class => "input-xlarge search-query", :placeholder => "Nome do cliente" %>
    <%= hidden_field_tag "customer_id" %>
    <%= submit_tag 'Adicionar Pedido', :class => "btn btn-primary"%>
<% end %>


<h2>Todos os cliente</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>Nome</th>
    <th>CPF/CNPJ</th>
    <th>Incrição municipal</th>
    <th>Suframa</th>
    <th>Tributação</th>
    <th>Endereço</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>Telefone 1</th>
    <th>Telefone 2</th>
    <th>Fax</th>
    <th>Celular</th>
    <th>Email</th>
    <th>Criador (Usuário)</th>
    <th>Observações</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.cpf_cnpj %></td>
    <td><%= customer.municipal_number %></td>
    <td><%= customer.suframa %></td>
    <td><%= customer.tribute %></td>
    <td><%= customer.addres %></td>
    <td><%= customer.city %></td>
    <td><%= customer.state %></td>
    <td><%= customer.phone1 %></td>
    <td><%= customer.phone2 %></td>
    <td><%= customer.fax %></td>
    <td><%= customer.mobile %></td>
    <td><%= customer.email %></td>
    <td><%= customer.user.name %></td>
    <td><%= customer.observations %></td>
    <td><%= link_to 'Ver', customer %></td>
    <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
    <td><%= link_to 'Apagar', customer, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @customers %>

<%= link_to 'Cadastrar Cliente', new_customer_path, :class => "btn" %>
