<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @customer.name %>
</p>

<p>
  <b>CPF/CNPJ:</b>
  <%= @customer.cpf_cnpj %>
</p>

<p>
  <b>Inscrição municipal:</b>
  <%= @customer.municipal_number %>
</p>

<p>
  <b>Suframa:</b>
  <%= @customer.suframa %>
</p>

<p>
  <b>Tributação:</b>
  <%= @customer.tribute %>
</p>

<p>
  <b>Endereço:</b>
  <%= @customer.addres %>
</p>

<p>
  <b>Cidade:</b>
  <%= @customer.city %>
</p>

<p>
  <b>Estado:</b>
  <%= @customer.state %>
</p>

<p>
  <b>Telefone 2:</b>
  <%= @customer.phone1 %>
</p>

<p>
  <b>Telefone 2:</b>
  <%= @customer.phone2 %>
</p>

<p>
  <b>Fax:</b>
  <%= @customer.fax %>
</p>

<p>
  <b>Celular:</b>
  <%= @customer.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Funcionário:</b>
  <%= @customer.user.name %>
</p>

<p>
  <b>Observações:</b>
  <%= @customer.observations %>
</p>

<p>
  <b>Desconto:</b>
  <%= @customer.discount %> %
</p>


<%= link_to 'Editar', edit_customer_path(@customer), class: "btn" %>