<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p>Cliente: <%= @order.customer.name %></p>
    <%= f.input :customer_id, :as => :hidden, :input_html => {:value => @order.customer_id} %>
    <%= f.input :user_id, :as => :hidden, :input_html => {:value => @order.user_id} %>
    <%= f.association :order_status %>
    <%= f.association :order_type %>
    <%= f.input :created_at %>
    <%= f.input :updated_at %>

    <%= render "product_orders", :f => f %>

    <p><%= link_to_function "Adicionar Produtos", "add_fields(this)", class: "btn" %></p>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <input type="hidden" id="number_products_type" value="3"></input>
<% end %>

<script type="text/javascript">
  $("#number_products_type").val($(".products_fields").children().size() / 2);
</script>
