<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :customer %>
    <%= f.association :user %>
    <%= f.association :order_status %>
    <%= f.input :created_at %>
    <%= f.input :updated_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
