<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @order.customer.name %>
</p>

<p>
  <b>User:</b>
  <%= @order.user.name %>
</p>

<p>
  <b>Status:</b>
  <%= @order.order_status.name %>
</p>

<p>
  <b>Created at:</b>
  <%= @order.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @order.updated_at %>
</p>

<%= render "product_orders/index", :product_orders => @order.product_orders %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
