<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @order.customer.name %>
</p>

<p>
  <b>Usuários:</b>
  <%= @order.user.name %>
</p>

<p>
  <b>Tipo de Pedido:</b>
  <%= @order.order_type.name unless @order.order_type == nil %>
</p>

<p>
  <b>Status:</b>
  <%= @order.order_status.name %>
</p>

<p>
  <b>Criado em:</b>
  <%= @order.created_at %>
</p>

<p>
  <b>Última Atualização:</b>
  <%= @order.updated_at %>
</p>

<%= render "product_orders/index", :product_orders => @order.product_orders %>

<%= link_to 'Enviar produção', new_order_production_item_path(@order), class: "btn btn-primary" %> 


<%= link_to 'Editar', edit_order_path(@order), class: "btn" %> |
<%= link_to 'Pedidos', orders_path, class: "btn" %> | 
<%= link_to 'Emitir Cupom Fiscal', orders_coupon_path(@order), class: "btn"%> 
