<div class="page-header">
  <h1>Listas de produto</h1>
</div>

<div class="accordion" id="accordion">
  <% @product_bases.each do |product_base| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a href="#product_<%= product_base.id %>" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
          <span class="collapselink code"><%= product_base.code %>:</span><span class="collapselink name"><%= product_base.name %></span><span class="collapselink price">Preço: <%= number_to_currency(product_base.price) %></span>
        </a>
      </div>
      <div id="product_<%= product_base.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <% if !product_base.products.empty? %>
            <h5>Variações</h5>
            <table class="table table-hover">
              <thead>
                <th>Nome</th>
                <th>Tamanho</th>
                <th>Cor</th>
                <th>Linha</th>
                <th>Descrição</th>
              </thead>
              <tbody>
                <% product_base.products.each do |product| %>
                  <tr>
                    <td><%= product.name %></td>
                    <td><%= product.product_size.name unless product.product_size == nil %></td>
                    <td><%= product.product_color.name unless product.product_color == nil %></td>
                    <td><%= product.line %></td>
                    <td><%= product.description %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <div class="novariation">
              <p>Nenhuma variação cadastrada para este produto</p>
            </div>
            <hr>
          <% end %>
          <p class="new-var">
            <%= link_to raw('Criar Variação'), new_product_basis_product_path(product_base), :class => "link" %>
          </p>
          <div class="form-actions">
            <%= link_to raw('<i class="icon-eye-open"></i> Visualizar'), product_base, :class => 'btn' %>
            <span class="divider"></span>
            <%= link_to raw('<i class="icon-pencil"></i> Editar'), edit_product_basis_path(product_base),  :class => 'btn' %>
            <span class="divider"></span>
            <%= link_to raw('<i class="icon-remove"></i> Remover'), product_base, method: :delete, data: { confirm: 'Tem certeza?' },  :class => 'btn' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @product_bases %>

<br>
<%= link_to 'Novo produto base', new_product_basis_path, :class => "link" %>
<legend></legend>
<%= link_to 'Cores', product_colors_path, :class => "link" %>
<%= link_to 'Tamanhos', product_sizes_path, :class => "link" %>