<h1>Estoque de Produtos</h1>
<legend></legend>
<table class="table table-striped table-hover">
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_stocks.each do |product_stock| %>
  <% p = product_stock.product %>
  <tr>
    <td><%= product_stock.product.name %></td>
    <td><%= product_stock.quantity %></td>
    <td><%= link_to 'Ver', product_stock %></td>
    <td><%= link_to 'Editar', edit_product_stock_path(product_stock) %></td>
    <td><%= link_to 'Apagar', product_stock, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
  </tr>
<% end %>
</table>

<%= paginate @product_stocks%>
<br />

<%= link_to 'Adicionar item ao estoque', new_product_stock_path, class: "btn btn-primary" %>

<%= link_to 'Zerar estoque', product_stock_reset_stock_path, method: :delete, data: { confirm: 'Remover todo o estque?'}, class: "btn btn-danger" %>