<p id="notice"><%= notice %></p>

<p>
  <b>Produto:</b>
  <%= @product_stock.product.name %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @product_stock.quantity %>
</p>


<%= link_to 'Editar', edit_product_stock_path(@product_stock), class: "btn" %>
<%= link_to 'Adicionar produto ao estoque', new_product_stock_path, class: "btn btn-primary" %>
<%= link_to 'Resumo do estoque', product_stocks_path, class: "btn" %>
