<h2>Lista das Últimas Transações</h2>

<table class="table table-hover">
    <thead>
        <tr>
          <th>Cliente</th>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Valor obtido</th>
          <th>Tipo de Transação</th>
          <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <% @transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.customer_stock.customer.name unless transaction.customer_stock == nil %></td>
                <td><%= transaction.customer_stock.product.product_base.code unless transaction.customer_stock == nil || transaction.customer_stock.product == nil %></td>
                <td><%= transaction.quantity %></td>
                <td><%= number_to_currency(transaction.value) %></td>
                <td>
                    <% if transaction.is_devolution %>
                        <p>Devolução</p>
                    <% else %>
                        <p>Acerto</p> 
                    <% end %>
                </td>
                <td><%= transaction.created_at.to_time.strftime("%d/%m/%Y") %></td>
              </tr>
        <% end %>
    </tbody>
</table>

<br />

