<%= form_tag "transactions/report", :class => "form-search", :method => :get do%>
    <legend>Procure o cliente pelo nome</legend>
    <%= autocomplete_field_tag 'customer', '', autocomplete_customer_name_customers_path, :update_elements => {:id => '#customer_id' }, :class => "input-xlarge search-query", :placeholder => "Nome do cliente", :required => "required" %>
    <%= hidden_field_tag "customer_id" %>
    <%= label_tag(:type, "Tipo:") %>
    <%= select_tag(:type, options_for_select([['Todas', 0], ['Acerto', 1], ['Devolução', 2]], 0), :class => "input-small" ) %>
    <%= label_tag(:startdate, "Inicio:") %>
    <%= text_field_tag :startdate, nil, :class => "input-small" %>
    <%= label_tag(:enddate, "Fim:") %>
    <%= text_field_tag :enddate, nil, :class => "input-small"  %>

    <%= submit_tag 'Filtrar', :class => "btn btn-primary"%>
<% end %>
<h2>Lista das Últimas Transações</h2>

<table class="table table-hover">
    <thead>
        <tr>
          <th>Cliente</th>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Valor obtido</th>
          <th>Tipo de Transação</th>
          <th>Data</th>
          <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.customer_stock.customer.name unless transaction.customer_stock == nil %></td>
                <td><%= transaction.customer_stock.product.product_base.code unless transaction.customer_stock.product == nil %></td>
                <td><%= transaction.quantity %></td>
                <td><%= number_to_currency(transaction.value) %></td>
                <td>
                    <% if transaction.is_devolution %>
                        <p>Devolução</p>
                    <% else %>
                        <p>Acerto</p> 
                    <% end %>
                </td>
                <td><%= transaction.created_at.to_time.strftime("%d/%m/%Y") %></td>
                <td><%= link_to 'Ver', transaction, :class => "btn"  %>
                <%= link_to 'Editar', edit_transaction_path(transaction), :class => "btn" %>
                <%= link_to 'Apagar', transaction, method: :delete, data: { confirm: 'Tem certeza?' }, :class => "btn btn-danger" %>
                </td>
              </tr>
        <% end %>
    </tbody>
</table>

<br />

