<h2>Acerto</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @transaction.customer_stock.customer.name %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @transaction.quantity %>
</p>

<p>
  <b>Valor:</b>
  <%= @transaction.value %>
</p>

<p>
  <b>É devolução:</b>
  <%= @transaction.is_devolution ? "Sim" : "Não" %>
</p>

<p>
  <b>Data do Acerto:</b>
  <%= @transaction.created_at %>
</p>


<%= link_to 'Alterar', edit_transaction_path(@transaction), class: "btn" %> |
<%= link_to 'Acertos', transactions_path, class: "btn" %>
