<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :product_base_id, :as => :hidden %>

    <!-- <div class="control-group string required">
      <label class="string optional control-label" for="product_nome">* Nome</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><%= @product.product_base.name %></span>
          <%= text_field_tag :name, @product.name, :id => "product_name", :name => "product[name]" %>
        </div>
      </div>
    </div> -->
    <label class="check_boxes required control-label"><abbr title="obrigatório">*</abbr> Cores</label>
    <% ProductColor.all.each do |c| %>
      <label class="checkbox">
        <%= check_box_tag 'product[product_color_id][]', c.id%>
        <%= c.name %>
      </label>
    <% end %>

    <label class="check_boxes required control-label"><abbr title="obrigatório">*</abbr> Tamanhos</label>
    <% ProductSize.all.each do |s| %>
      <label class="checkbox">
        <%= check_box_tag 'product[product_size_id][]', s.id %>
        <%= s.name %>
      </label>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

