<table>
  <tr>
    <th>Nome</th>
    <th>Tamanho</th>
    <th>Cor</th>
    <th>Descrição</th>
    <th>Linha</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.size %></td>
    <td><%= product.color %></td>
    <td><%= product.description %></td>
    <td><%= product.line %></td>
    <td><%= link_to 'Ver', product %></td>
    <td><%= link_to 'Editar', edit_product_path(product) %></td>
    <td><%= link_to 'Matéria prima', product_feedstock_by_products_path(product) %></td>
    <td><%= link_to 'Apagar', product, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br>