<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
  <%= @product.color %>
  <%= @product.size %>
  <%= @product.line %>
  <%= @product.description %>
</p>


<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Novo produto', new_product_path %>
